body {
    background-color: black;
}

.container1 {
    margin-top: 50px;
    text-align: center;
    display: flex;
    color: white;
    gap: 640px;
    
    width: 1100px;
    margin-left: 180px;
}

.task {
    font-size: 60px;
    font-weight: bold;
   
}

.list {
    font-size: 60px;
    font-weight: lighter;
}

.box2 {
    font-size: 50px;
    font-weight: lighter;
    text-decoration: none;
    color: white;
    
}



.bi-plus-square-fill {
    position: absolute;
    height: 40px ;
    width: 40px;
    margin-left: -50px;
    margin-top: 10px;
}

/* ----------------------BOX3----------------------- */



.btn-click {
    background-color: rgb(243, 129, 76);
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 150px;
    margin-top: 35px;
    margin-left: 105px;
    color: white;
}

.add-task {
    color: rgb(238, 79, 5);
    font-weight: bold;
    margin-left: 130px;
    margin-top: 35px;
    font-weight: 30px
}

input {
    margin-left: 60px;
    margin-top: 20px;
    height: 20px;
    width: 230px;
    text-align: center;
}

#error {
    color: red;
    position: absolute;
    margin-left: 60px;
    margin-top: -65px;
}

#result {
    color: white;
}
/* --------------------- */

.new-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: blanchedalmond;
    position: relative;
}

.bi-plus-square-fill {
   height: 80px;
    width: 40px;
    margin-top: -10px;
    margin-left: -45px;
    
}

.bi-trash-fill {
    position: absolute;
    height: 25px;
    width: 25px;
    margin-top: 200px;
    margin-left: -60px;
  
}

.head {
    margin-top: 5px;
    font-size: 30px;
    color: rgb(184, 40, 14);
}

#tasks {
    display:flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 180px;
}

.tripName {
    color: red;
    font-size: large;
    font-weight: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subTask {
    color: rgb(0, 162, 255);
    

    
}

.strike {
    background-color: orangered;
    border: none;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
}

.fa-2x {
    position: absolute;
    font-size: 30px;
    right: 40px;
    bottom: 0.4em;
    
    
}

.fa-plus-square {
    position:absolute;
    font-size: 30px;
    right: 10px;
    bottom: 10px;

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container1 {
        margin-left: 30px;
        width: 30px;
        
    }
    .taskName {
        margin-left: 0px;
    }
    .box2 {
        margin-left: -200px;
    }
    #tasks{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        margin-left: 15%;
     }
    .new-box {
        width: 400px;
    }
    .task {

    }
    .list {
        
        
    }
    #next{
        margin-left: 50%;
    }
}

/* Media Query for Mobile */

@media screen and (min-width:360px) and (max-width:640px) {
    body {
        width: 360px;
        margin-left: -30px;
    }
    
    #tasks{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 15%;
        
    }
    .container1 {
        margin-left: 30px;
        width: 40px;
      
        
    }
    .box2-1{
       position: absolute;
       margin-top: 70px;
       margin-left: -100px;
        
    }

    
    .fa-plus-square {
          
    } 

    .taskName {
        margin-left: 0px;
    }
    .box2 {
        margin-left: -300px;
    }
    #tasks{
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        margin-left: 15%;
     }
    .new-box {
        width: 250px;
        margin-left: 25px;
    }

    .container2{
        margin-left: 35%;
    }

    #next{
        display: block;
        margin-left: 28%;
    }
}